<h1>AWS Device Farm POC</h1>

<p>This is a dummy EmberJS app for use with AWS device farm.</p>

<p>It should be deployed to a publically accessible URL so Selenium test can be
  run against it.</p>

<LinkTo class="button primary test-login-button" @route="login">Log in</LinkTo>